<!DOCTYPE html>
<html lang="en" ng-app="homepageApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Daycount</title>

    <!-- Bootstrap core CSS -->
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/bower/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
  </head>

  <body ng-controller="CategoryListCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li><a href="home">Home</a></li>
      </ul>
    </nav>

    <div class="container">
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="time">Time</option>
      </select>

      <ul>
        <li ng-repeat="category in categories | orderBy:orderProp">
          <span><a href="/container/{{category.id}}">{{category.name}}</a></span>
          <p>{{category.time}}</p>
        </li>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower/angular/angular.js"></script>

    <script>
    var homepageApp = angular.module('homepageApp', []);

      homepageApp.controller('CategoryListCtrl', ['$scope', '$http', 
        function ($scope, $http) {
        $http.get('api/categories/user/<<.Id>>').success(function(data) {
          $scope.categories = data;
        });

        $scope.orderProp = 'name';
      }]);
    </script>

  </body>
</html>
